body {
    position: relative;
    background: linear-gradient(to top, #5B0B88,#73286D);
    /* background: linear-gradient(90deg, rgba(167,0,0,1) 0%, rgba(151,4,4,1) 30%, rgba(101,0,0,1) 100%); */

    background-size: cover; /* Ensure the background image covers the entire viewport */
    background-position: center; /* Center the background image */
  }

  .overlay-image {
    position: relative; /* Position the overlay image absolutely */
    top: 0; /* Position it at the top */
    left: 0; /* Position it at the left */
    width: 100%; /* Make it cover the entire container horizontally */
    height: 40%; /* Make it cover the entire container vertically */
    background-image: url('../../../public/—Pngtree—white\ flash_5614442.png'); /* Set the overlay image */
    background-size: cover; /* Ensure the overlay image covers the container */
    background-position: center; /* Center the overlay image */
    opacity: 30%; /* Adjust the opacity as needed */
  }
  .overlay-image2 {
    position: absolute; /* Position the overlay image absolutely */
    top: 1500px; /* Position it at the top */
    left: 0; /* Position it at the left */
    width: 100%; /* Make it cover the entire container horizontally */
    height: 60%; /* Make it cover the entire container vertically */
    background-image: url('../../../public/—Pngtree—white\ flash_5614442.png'); /* Set the overlay image */
    background-size: cover; /* Ensure the overlay image covers the container */
    background-position: bottom; /* Center the overlay image */
    opacity: 30%; /* Adjust the opacity as needed */
  }

  @font-face {
    font-family: newFont;
    src: url('../../../fonts/MonumentExtended-Ultrabold.ttf');
  }
  @font-face {
    font-family: newFont1;
    src: url('../../../fonts/MonumentExtended-Regular.ttf');
  }

  .container h2 {
   letter-spacing: 2px; 
    top: 100px;
    left: 30px;
    width: 100%;
    margin-bottom: 20px;
    font-family: newFont;
    text-align: center;
    font-size: 50px;
    /* color: #333; */
    color: #ffffff;
  }

  .navbar-brand{
    letter-spacing: 2px; 
     margin-bottom: 20px;
     font-family: newFont;
     text-align: left;
     font-size: 30px;
     /* color: #333; */
     color: #ffffff;
   }

   .nav-link{
    letter-spacing: 2px; 
     margin-bottom: 20px;
     font-family: newFont;
     text-align: left;
     font-size: 20px;
     /* color: #333; */
     color: #ffffff;
   }

.card{
    background-color: #fdceff;
    border: 5px solid #ffffff;
}

.card-title{
    font-family: newFont1;
    letter-spacing: 1px;
    color: #000000;
}

.card-text{
    font-family: newFont1;
    letter-spacing: 0px;
    color: #000000;
    font-size: 13px;
}
.card-img-top{
    border: 3px solid #ffffff;
}

.mb-4{
    font-family: newFont1;
    letter-spacing: 1px;
    color: #000000;
}

.fil h4{
    font-family: newFont1;
    letter-spacing: 1px;
    color: #ffffff;
}

.fil label{
    font-family: newFont1;
    letter-spacing: 1px;
    color: #ffffff;
}

.fil button{
    font-family: newFont1;
    letter-spacing: 1px;
    color: #000000;
    font-size: 12px;
}
