.full-screen {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .bg-login {
    background-color: #f9f9f9; /* Light background color */
    background-image: url('../../../public/frame7.png'); /* Add this line */
    background-size: cover; /* Optional: Adjust background size */
    background-position: center 50px; /* Optional: Adjust background position */
  }
  
  .login-container {
    width: 350px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.412);
    border-radius: 8px;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.1);
  }
  
  .login-form {
    text-align: center;
  }
  
  @font-face {
    font-family: newFont;
    src: url('../../../fonts/MonumentExtended-Ultrabold.ttf');
  }
  .only h1 {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    margin-bottom: 20px;
    font-family: newFont;
    text-align: center;
    font-size: 70px;
    /* color: #333; */
    color: #ffffff;
  }

  .login-form h2 {
    font-family: newFont;
    margin-bottom: 20px;
    font-size: 30px;
    /* color: #333; */
    color: #ffffff;
  }
  
  .login-form label {
    font-family: newFont;
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #666;
  }
  
  .login-form input {
    font-family: newFont;
    text-align: center;
    letter-spacing: 2px; 
    width: 100%;
    padding: 12px;
    background-color: #dfc7df;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 13px;
  }
  
  .login-form button {
    font-family: newFont;
    letter-spacing: 2px; 
    width: 100%;
    padding: 12px;
    background-color: #67196a; /* Primary button color */
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-form button:hover {
    background-color: #0056b3; /* Darker hover color */
  }
  
  .menubar {
    background-color: #333;
  }
  
  .menubar ul {
    background-image: linear-gradient(to right, #581075,#6f009a);
    list-style-type: none;
    position: fixed;
    top: 0;
    right:0;
    width: 200%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .menubar li {
    float: right;
  }
  
  .menubar li a {
        font-size: 16px;
    font-family: newFont;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .menubar li a:hover {
    background-color: #ffffff;
  }
  